.ci/*.log
.ci/*.md
.ci/*.md.minisig
.ci/test-dnscrypt-proxy.toml
.idea
*.dll
*.dylib
*.exe
*.out
*.so
*.swp
*.test
*~
#*#
contrib/msi/*.msi
contrib/msi/*.wixobj
contrib/msi/*.wixpdb
dnscrypt-proxy/*.md
dnscrypt-proxy/*.md.minisig
dnscrypt-proxy/dnscrypt-proxy
dnscrypt-proxy/dnscrypt-proxy2
LOG.md
TODO.md
